body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 400;
}

#content {
  margin: 5px;
  padding: 20px 10px 20px 20px;
  width: 780px;
  height:555px;
  text-align: left;
  border: 1px solid #ccc;
}

h1 {
  line-height: 1em;
  font-size: 1.75em;
  font-weight: 900;
  color: #000;
}

p {
  margin: 5px 0px 0px 0px;
  padding: 0;
}

.domain {
  stroke-width: 0;
}

path.line {
  fill: none;
  stroke: #08306b;
  stroke-width: 2px;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #eee;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.g-baseline line {
  stroke: #333;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.x.axis .tick text, .y.axis .tick text  {
  color: #333;
  font-size: 0.9em;
}